$padding:(
    "1": "5px",
    "2": "10px",
    "3": "15px",
    "4": "20px",
    "5": "30px",
    "6": "40px",
    "7": "50px",
    "8": "60px",
    "9": "70px",
    "10": "80px",
    "11": "90px",
    "12": "100px",
    "13": "120px"
);

$margin:(
    "1": "5px",
    "2": "10px",
    "3": "15px",
    "4": "20px",
    "5": "30px",
    "6": "40px",
    "7": "50px",
    "8": "60px",
    "9": "70px",
    "10": "80px",
    "11": "90px",
    "12": "100px",
    "13": "120px"
);

$border-radius:(
    "1": "2px",
    "2": "4px",
    "3": "6px",
    "4": "8px",
    "5": "10px",
    "6": "12px",
    "7": "14px",
    "8": "16px",
    "9": "18px",
    "10": "20px"
);

$font-size:(
    "1": "8px",
    "2": "10px",
    "3": "11px",
    "4": "12px",
    "5": "18px",
    "6": "20px",
    "7": "24px",
    "8": "26px",
    "9": "28px",
    "10": "36px",
    "11": "48px",
    "12": "72px",
    "13": "150px"
);

$colors:(
    "primario": (#191701, #454302, #727204, #919906, #B5C507, #D2F109, #D7F92F, #D6FA57, #DEFC83),
    "secundario": (#190E00, #563400, #925D01, #CA8B02, #FBB80E, #FBD24B, #FDE587, #FDF4BE, #FFFEFA),
    "blanco":(#E0E0E0, #E6E6E6, #E8E8E8, #EDEDED, #F0F0F0, #F5F5F5, #F7F7F7, #FCFCFC, #FFFFFF),
    "negro": (#0D0D0D, #121212, #171717, #1C1C1C, #212121, #262626, #2B2B2B, #303030, #363636),
    "gris": (#333333, #474747, #595959, #6E6E6E, #808080, #949494, #A6A6A6, #BABABA, #CCCCCC)
);

$box-shadow:( 
    "1":"0 1px 3px hsla(0,0%,0%,.2)",
    "2":"0 4px 6px hsla(0,0%,0%,.2)",
    "3":"0 5px 15px hsla(0,0%,0%,.2)",
    "4":"0 10px 24px hsla(0,0%,0%,.2)",
    "5":"0 15px 35px hsla(0,0%,0%,.2)"
);